@*@model null*@
@{
    ViewData["Title"] = "Unavailable";
}

<h2>Seats Unavailable</h2>
<p>Unfortunately, all available seats have been reserved. We apologize for the inconvenience, please choose another session.</p>