@model Session
@{
    ViewData["Title"] = "Seat Reservation";
}

<h2>Seat Reservation</h2>
<p>Your seat has been reserved! There are @Model.SeatsAvailable spots left in the "@Model.SessionName" class.</p>